@model IQueryable<string>

@{
    Layout = null;
}

<div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Color
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="@Url.Action("Products", "Home", new { productType = ViewBag.CurrentProductType, pageNum = 1, pageSize= ViewBag.pageSize })">Any Color</a>
        @foreach (string pColor in Model ?? Enumerable.Empty<string>())
        {
            <a class="dropdown-item" href="@Url.Action("Products", "Home", new { productType = ViewBag.CurrentProductType, productColor = pColor, pageNum = 1, pageSize= ViewBag.pageSize })">@pColor</a>
        }
    </div>
</div>
