@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1 class="text-white text-center mt-4 mb-5">About Us</h1>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="p-4 bg-light rounded text-center">
                <p>Welcome to Brickwell, where creativity meets construction! Founded by Aurora Brickwell, we're driven by a love for LEGO and a passion for inspiring builders of all ages.</p>
                <p>Aurora's lifelong fascination with LEGO sparked the creation of Brickwell. She envisioned a space where imagination could flourish, and builders could bring their ideas to life.</p>
                <p>As our visionary leader, Aurora fosters a culture of innovation. She encourages us to push the boundaries of what's possible, just as she does with her own designs and creations.</p>
                <p>But Aurora isn't just our owner; she's also a builder at heart. Her infectious love for LEGO inspires us all to see the world through the eyes of a creator.</p>
                <p>At Brickwell, we're more than just a LEGO company; we're a community united by a shared love of play and boundless creativity. Join us, and let's build something amazing together.</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="~/img/aurorabigger.png" class="img-fluid rounded">
        </div>
    </div>
</div>