@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="ListProducts">View Products</a>
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="ListCustomers">View Customers</a>
    <br />
    <a class="btn btn-danger" asp-controller="Home" asp-action="ListOrders">Review Fraudulent Orders</a>
</div>
