@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Changes Saved";
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">@ViewData["Title"]</h1>
                    <p>Your changes have been saved.</p>
                    <div class="text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="AdminPage">Return to Admin Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

