@{
    ViewData["Title"] = "Products Overview";
}

@model ProductAdminListViewModel

<h1>@ViewData["Title"]</h1>

<div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
    @foreach (var product in Model.Products)
    {
        <partial name="ProductOverviewCard" model="product" />
    }
</div>

<a class="btn btn-primary" asp-controller="Home" asp-action="AddProduct">Add Product</a>

<div page-model="@Model.PaginationInfo" page-action="ListProducts"></div>

