@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Product>

<div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
    @foreach (var product in Model)
    { 
        <partial name="ProductCard" model="product"/>
    }
</div>


