@* @model TModel *@

<div class="card m-1 p-1">
    <img/>
        <span class="badge rounded-bottom bg-dark text-white float-end"><small>CART IMG</small></span>
    <h4>Model.Name</h4>
    <h6>Model.Price</h6>
    @* <img/> ARROW IMG *@
</div> 