@model IQueryable<string>

@{
    Layout = null;
}

<div class="d-grid gap-2">
    <a class="btn btn-outline-light" asp-controller="Home" asp-action="Products" asp-route-projectType="" asp-route-pageNum="">View All</a>
    @foreach (string cat in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn btn-outline-light" asp-controller="Home" asp-action="Products" asp-route-productType="@cat" asp-route-pageNum="1">@cat</a>
    }
</div>