@model IQueryable<string>

@{
    Layout = null;
}
<div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-projectType="" asp-route-pageNum="">View All</a>
            @foreach (string cat in Model ?? Enumerable.Empty<string>())
            {
                <a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-productType="@cat" asp-route-pageNum="1">@cat</a>
            }
    </div>
</div>

