@model IQueryable<string>

@{
    Layout = null;
}
<div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="@Url.Action("Products", "Home", new { productColor = ViewBag.CurrentProductColor, pageNum = 1, pageSize= ViewBag.pageSize })">Any</a>
            @foreach (string cat in Model ?? Enumerable.Empty<string>())
            {
            <a class="dropdown-item" href="@Url.Action("Products", "Home", new { productType = cat, productColor = ViewBag.CurrentProductColor, pageNum = 1, pageSize= ViewBag.pageSize })">@cat</a>
        }
    </div>
</div>

