@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Thank you for registering an account with us! Click <a id="confirm-link" href="@Model.EmailConfirmationUrl">here</a> to log in and finish setting up your account.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

