@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Thank you for registering an account with us!  <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to finish setting up your account.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

